@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;600;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Krub', sans-serif;
}